body{
	margin-top:30px;
	background:url('./../images/bg.jpg');
}
.h1{height:1px;margin:0px;padding:0px;}
.h2{height:2px;margin:0px;padding:0px;}
.h3{height:3px;margin:0px;padding:0px;}
.h4{height:4px;margin:0px;padding:0px;}
.h5{height:5px;margin:0px;padding:0px;}
.h6{height:6px;margin:0px;padding:0px;}
.h7{height:7px;margin:0px;padding:0px;}
.h8{height:8px;margin:0px;padding:0px;}
.h9{height:9px;margin:0px;padding:0px;}
.h10{height:10px;margin:0px;padding:0px;}
.h15{height:15px;margin:0px;padding:0px;}
.h20{height:20px;margin:0px;padding:0px;}
.h30{height:30px;margin:0px;padding:0px;}
.h40{height:40px;margin:0px;padding:0px;}
.h50{height:50px;margin:0px;padding:0px;}
.h100{height:100px;margin:0px;padding:0px;}
.h200{height:200px;margin:0px;padding:0px;}
.h500{height:500px;margin:0px;padding:0px;}
input, select{border:none;outline:none;background:none;}
#pageWraper a{
	text-decoration:none;
	outline:none;
}
#pageWraper{
	margin:0 auto;
	width:1320px;
	height:100%;
	min-height:992px;
}
.c-head-wrap{
	width:100%;
	height:197px;
	background:url('./../images/10087.jpg') no-repeat;
	overflow:hidden;
}
.c-head-wrap .c-h-left{
	display:inline-block;
	width:330px;
	height:100px;
}
.c-head-wrap .c-h-left .heitao-icon{
	display:block;
	float:left;
	position:relative;
	top: 25px;
    left: 80px;
	width:65px;
	height:65px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1349px -8px;
}
.c-head-wrap .c-h-left .vipinfo{
	display:block;
	float:left;
	position:relative;
	top: 52px;
    left: 100px;
	width:156px;
	line-height:27px;
	height:27px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1441px -14px;
	font-weight: bold;
    color: #feffd8;
	text-align:center;
}
.c-head-wrap .c-h-center{
	display:inline-block;
	width:652px;
	height:100px;
	overflow:hidden;
}
.c-head-wrap .c-h-center .c-h-center-w{
	margin: 0 auto;
	height: 100px;
}
.c-head-wrap .c-h-center .c-h-item{
	display:block;
	float:left;
	width:160px;
	height:100%;
	overflow:hidden;
	margin: 0 auto;
}
.c-head-wrap .c-h-center .c-h-item .c-h-i-up{
	display:block;
	float:left;
	width:160px;
	height:56px;
	line-height:56px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1645px -12px;
	color: #fcfba3;
    font-size: 23px;
	text-align:center;
	margin-top: 10px;
}
.c-head-wrap .c-h-center .c-h-item .c-h-i-down{
	display:block;
	float:left;
	width:100px;
	height:27px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1840px -11px;
	margin-left: 29px;
    margin-top: 2px;
}
.c-head-wrap .c-h-right{
	display:inline-block;
	width:330px;
	height:100px;
}
.c-head-wrap .c-h-right .setting-icon{
	display:block;
	float:left;
	position:relative;
	top: 33px;
    left: 100px;
	width:44px;
	height:46px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1419px -114px;
}
.c-head-wrap .c-h-right .log-icon{
	display:block;
	float:left;
	position:relative;
	top: 33px;
    left: 90px;
	width:44px;
	height:46px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1340px -114px;
}
.c-head-wrap .c-h-right .close-icon{
	display:block;
	float:left;
	position:relative;
	top: 33px;
    left: 117px;
	width:106px;
	height:44px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1474px -56px;
}
.c-head-wrap .c-h-center .add-icon{
	display:block;
	float:left;
	position:relative;
	top: 33px;
    left: 0px;
	width:43px;
	height:37px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1956px -3px;
}
.c-head-wrap .c-h-tab-w{
	position:relative;
	float:left;
	width:100%;
	height:97px;
}
.c-head-wrap .c-h-tab-w .c-h-t-menu{
	position:relative;
	float:left;
	top:41px;
	width:203px;
	height:51px;
	margin-left:10px;
	background:url('./../images/sprite.png') no-repeat;
}
.c-head-wrap .c-h-tab-w .c-h-t-menu.m1{
	background-position:-1329px -183px;
	margin-left:22px;
}
.c-head-wrap .c-h-tab-w .c-h-t-menu.m1.active{
	background-position:-1542px -183px;
}
.c-head-wrap .c-h-tab-w .c-h-t-menu.m2{
	background-position:-1329px -253px;
}
.c-head-wrap .c-h-tab-w .c-h-t-menu.m2.active{
	background-position:-1542px -253px;
}
.c-head-wrap .c-h-tab-w .c-h-t-menu.m3{
	background-position:-1329px -321px;
}
.c-head-wrap .c-h-tab-w .c-h-t-menu.m3.active{
	background-position:-1542px -321px;
}
.c-head-wrap .c-h-tab-w .c-h-t-jiaoban{
	position:relative;
	top:15px;
	right:60px;
	float:right;
	width:170px;
	height:50px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1486px -111px;
}
.c-footer-wrap{
	width:100%;
	height:95px;
	background: url(./../images/10089.png) no-repeat;
}
.c-body-wrap{
	width:100%;
	min-height:768px;
	background: url(./../images/10088.png) repeat-y;
	/*background:url('./../images/sprite1.png') no-repeat;
	background-position:-674px -500px;*/
	overflow:hidden;
}
.c-body-wrap .c-b-list{
	width:100%;
	height:90px;
	margin-top: 8px;
}
.c-body-wrap .c-b-list .c-b-list-wrap{
	margin:0 auto;
	width:1233px;
	height:90px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:0px 0px;
}
.c-b-list-item{
	float:left;
	width:184px;
	height:74px;
	margin-top:4px;
	margin-left:13px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1799px -287px;
}
.c-b-list-item.new{
	background-position:-1794px -179px;	
}
.c-b-list-item .c-b-l-i-title{
	margin-top: 7px;
	width:100%;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#ffffff;
}
.c-b-list-item .c-b-l-i-bottom{
	margin-top: 8px;
	width:100%;
	height:35px;
}
.c-b-list-item .c-b-l-i-bottom a{
	position:relative;
	float:left;
	width:52px;
	height:35px;
	line-height:35px;
	margin-left:5px;
}
.c-b-list-item .c-b-l-i-bottom .l-text{
	margin-left:8px;
}
.c-b-list-item .c-b-l-i-bottom a.l-edit{
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1595px -73px;
	cursor:pointer;
}
.c-b-list-item .c-b-l-i-bottom a.l-status{
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1650px -73px;
	cursor:pointer;
}
.c-b-list-item .c-b-l-i-bottom a.l-clean{
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1708px -74px;
	cursor:default;
}
.c-b-list-item .c-b-l-i-bottom a.l-text span{
	display:block;
	height:17px;
	line-height:17px;
	width:100%;
	color: #f4e2a9;
	text-align:center;
	font-size: 12px;
}
.c-body-wrap .c-b-list .c-b-list-arrow{
	float:right;
	position:relative;
	top: -75px;
    right: 54px;
	height:60px;
	width:30px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1964px -60px;
	cursor:pointer;
}
.c-body-wrap .c-b-content{
	width:100%;
	height:562px;
	margin-top:12px;
}
.c-body-wrap .c-b-content .c-b-c-left{
	margin-left:32px;
	float:left;
	width:590px;
	min-height:562px;
	overflow:hidden;
	/*background:url('./../images/9.png') no-repeat;*/
	background:#1e1d2d;
	border-radius: 20px;
}
.c-body-wrap .c-b-content .c-b-c-left .cbb-lm-wrap{
	width:100%;
	height:40px;
	text-align:center;
}
.c-body-wrap .c-b-content .c-b-c-left .cbb-lm-wrap a{
	display:inline-block;
	min-width:80px;
	line-height:25px;
	height:25px;
	color:#ff6a6a;
}
.c-body-wrap .c-b-content .c-b-c-left .c-b-c-left-wrap{
	margin:0 auto;
	margin-top:15px;
	width:567px;
	min-height:480px;
	overflow:hidden;
}
.c-body-wrap .c-b-content .c-b-c-left .c-b-c-left-wrap .c-b-c-l-tab{
	width:100%;
	height:35px;
}
.c-body-wrap .c-b-content .c-b-c-left .c-b-c-left-wrap .c-b-c-l-tab .cbcl-tab-btn{
	display:inline-block;
	width:88px;
	height:35px;
	margin-right: 2px;
	background:url('./../images/sprite.png') no-repeat;
}
.c-body-wrap .c-b-content .c-b-c-left .c-b-c-left-wrap .c-b-c-l-tab .cbcl-tab-btn.b1{
	background-position:-1328px -382px;
}
.c-body-wrap .c-b-content .c-b-c-left .c-b-c-left-wrap .c-b-c-l-tab .cbcl-tab-btn.b2{
	background-position:-1419px -382px;
}
.c-body-wrap .c-b-content .c-b-c-left .c-b-c-left-wrap .c-b-c-l-tab .cbcl-tab-btn.b3{
	background-position:-1507px -382px;
}
.c-body-wrap .c-b-content .c-b-c-left .c-b-c-left-wrap .c-b-c-l-tab .cbcl-tab-btn.b4{
	background-position:-1598px -382px;
}
.c-body-wrap .c-b-content .c-b-c-left .c-b-c-left-wrap .c-b-c-l-tab .cbcl-tab-btn.b5{
	background-position:-1687px -382px;
}
.c-body-wrap .c-b-content .c-b-c-left .c-b-c-left-wrap .c-b-c-l-tab-list{
	margin-top:10px;
	width:100%;
	min-height:487px;
	overflow: hidden;
}
.c-b-c-l-tab-list .c-b-c-l-tab-list-item{
	width:100%;
	height:35px;
	margin-bottom:9px;
}
.c-b-c-l-tab-list .c-b-c-l-tab-list-item .c-b-c-l-tab-list-item-left{
	display:inline-block;
	height:100%;
	width:464px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1332px -426px;
}
.c-b-c-l-tab-list .c-b-c-l-tab-list-item .c-b-c-l-tab-list-item-left .i-text{
	float:left;
	display:inline-block;
	margin-right:2px;
	height:35px;
	line-height:35px;
	width:88px;
	color:#ffffff;
	text-align:center;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}
.c-b-c-l-tab-list .c-b-c-l-tab-list-item .c-b-c-l-tab-list-item-right{
	display:inline-block;
	height:100%;
	width:98px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1675px -119px;
	cursor:pointer;
}
.c-b-c-l-tab-list .c-b-c-l-tab-list-item .c-b-c-l-tab-list-item-right.clean{
	background-position:-1791px -119px;
}
.c-body-wrap .c-b-content .c-b-c-center{
	float:left;
	width:136px;
	height:100%;
	overflow:hidden;
}
.c-body-wrap .c-b-content .c-b-c-center .chaer{
	display:block;
	float:left;
	width:106px;
	height:35px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:1px -100px;
	margin-left:15px;
	margin-top:10px;
}
.c-body-wrap .c-b-content .c-b-c-center .ball{
	display:block;
	float:left;
	width:118px;
	height:118px;
	line-height:118px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-2px -147px;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:15px;
	text-align:center;
	color:#ffffff;
	font-size: 20px;
}
.c-body-wrap .c-b-content .c-b-c-center .ball.fu{
	background-position:-132px -150px;
}
.c-body-wrap .c-b-content .c-b-c-center .lmzz{
	display:block;
	float:left;
	width:106px;
	height:44px;
	line-height:44px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-240px -95px;
	margin-left:15px;
}
.c-body-wrap .c-b-content .c-b-c-center .krxx{
	display:block;
	float:left;
	width:106px;
	height:44px;
	line-height:44px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-362px -95px;
	margin-left:15px;
	margin-top:5px;
}
.c-body-wrap .c-b-content .c-b-c-center .lspj{
	display:block;
	float:left;
	width:106px;
	height:44px;
	line-height:44px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-482px -95px;
	margin-left:15px;
	margin-top:5px;
}
.c-body-wrap .c-b-content .c-b-c-center .jbzc{
	display:block;
	float:left;
	width:106px;
	height:35px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-121px -100px;
	margin-left:15px;
	margin-top:15px;
}
.c-body-wrap .c-b-content .c-b-c-right{
	position: relative;
    top: -50px;
	float:left;
	width:546px;
	min-height:562px;
	overflow:hidden;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-head{
	width:100%;
	height:44px;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-head .h-zcs{
	float:left;
	display:inline-block;
	width:174px;
	height:100%;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-617px -98px;
	color:#ffffff;
	text-indent: 64px;
    line-height: 40px;
	cursor:pointer;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-head .h-zbx{
	float:left;
	display:inline-block;
	width:174px;
	height:100%;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-806px -98px;
	color:#ffffff;
	text-indent: 64px;
    line-height: 40px;
	cursor:pointer;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-head .h-szrs{
	float:left;
	display:inline-block;
	width:174px;
	height:100%;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-996px -98px;
	color:#ffffff;
	text-indent: 80px;
    line-height: 38px;
	cursor:pointer;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-center{
	margin-top:10px;
	float:left;
	display:inline-block;
	width:540px;
	height:94px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-277px -159px;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-center input{
	border:none;
	outline:none;
	width:100%;
	height:100%;
	background:none;
	text-align:center;
    font-size: 18px;
    color: #ffffff;
    height: 33px;
    line-height: 33px;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-center .krbh{
	float:left;
	display:inline-block;
	position:relative;
	top: 36px;
    left: 30px;
	width: 84px;
    height: 54px;
	text-align: center;
    line-height: 36px;
    font-size: 18px;
    color: #ffffff;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-center .bj{
	float:left;
	display:inline-block;
	position:relative;
	top: 36px;
    left: 52px;
	width: 84px;
    height: 54px;
	text-align: center;
    line-height: 36px;
    font-size: 18px;
    color: #ffffff;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-center .jsjer{
	float:left;
	display:inline-block;
	position:relative;
	top: 36px;
    left: 70px;
	width: 84px;
    height: 54px;
	text-align: center;
    line-height: 36px;
    font-size: 18px;
    color: #ffffff;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-center .jsfs{
	float:left;
	display:inline-block;
	position:relative;
	top: 36px;
    left: 69px;
	width: 84px;
    height: 54px;
	text-align: center;
    line-height: 36px;
    font-size: 18px;
    color: #ffffff;
	cursor:pointer;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-center .jsjer{
	float:left;
	display:inline-block;
	position:relative;
	top: 36px;
    left: 86px;
	width: 84px;
    height: 54px;
	text-align: center;
    line-height: 36px;
    font-size: 18px;
    color: #ffffff;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-center .sure{
	float: left;
    display: inline-block;
    position: relative;
    top: 31px;
    left: 110px;
    width: 69px;
    height: 34px;
    text-align: center;
    line-height: 36px;
    font-size: 18px;
    color: #ffffff;
	cursor:pointer;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-bottom{
	margin-top:10px;
	float:left;
	display:inline-block;
	width:540px;
	min-height:372px;
	/*background:url('./../images/sprite1.png') no-repeat;
	background-position:-106px -869px;*/
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-bottom .txt-wrap{
	height:47px;
	width:100%;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-bottom .txt-wrap .txt-head-wrap{
	position: relative;
	height: 47px;
    width: 130px;
    float: left;
    margin-left: 26px;
	border: 2px solid #ffd26c;
    border-radius: 5px;
	background: #1e1d2d;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-bottom .txt-wrap .txt-head-wrap .head-txt{
	height: 25px;
    width: 130px;
	display:block;
	text-align: center;
    line-height: 25px;
    font-size: 16px;
    color: #fcfa9b;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-bottom .txt-wrap .momey1{
	display:block;
	float:left;
	position:relative;
	color:#ffffff;
	height:20px;
	width:128px;
	line-height:20px;
	text-align:center;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-bottom .txt-wrap .momey2{
	display:block;
	float:left;
	position:relative;
	left:85px;
	top:27px;
	color:#ffffff;
	height:20px;
	width:128px;
	line-height:20px;
	text-align:center;
}
.c-body-wrap .c-b-content .c-b-c-right .c-b-c-r-bottom .c-b-c-r-bottom-body{
	width: 540px;
    min-height: 330px;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .b-b-item-left{
	float:left;
	width: 184px;
	margin-right:6px;
	background: #1e1d2d;
    border-radius: 20px;
	margin-top:-20px;
	min-height: 330px;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .op-btn{
	position:relative;
	float:left;
	width:79px;
	height:31px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-861px -218px;
	color: #ffffff;
    text-align: center;
    line-height: 31px;
    left: 7px;
    top: 20px;
	cursor:pointer;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .b-b-item-center{
	float:left;
	width: 178px;
    margin-right: 6px;
    background: #1e1d2d;
    border-radius: 20px;
    margin-top: -20px;
    min-height: 330px;
	margin-right:5px;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .b-b-item-right{
	float:left;
	width: 165px;
    background: #1e1d2d;
    border-radius: 20px;
    margin-top: -20px;
    min-height: 330px;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .b-b-item-left-list{
	width:100%;
	min-height:228px;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .b-b-item-center-list{
	width:100%;
	height:228px;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .b-b-i-l-i{
	float:left;
	width: 100%;
    height: 31px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-854px -161px;
	margin-bottom:5px;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .b-b-i-l-i .type{
	position: relative;
    float: left;
    left: 9px;
    top: 0px;
    color: #ffffff;
    text-align: center;
    height: 30px;
    width: 70px;
    line-height: 30px;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .b-b-i-l-i .in-text{
	position: relative;
    float: left;
    left: 9px;
    top: 1px;
    height: 30px;
    width: 72px;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .b-b-i-l-i .in-text input{
	float:left;
	height: 30px;
	line-height: 30px;
    width: 72px;
	background:none;
	border:none;
    color: #ffffff;
    text-align: center;
	outline:none;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .b-b-i-l-i .edit-btn{
	position: relative;
    float: left;
    left: 9px;
    top: 1px;
    height: 30px;
    width: 32px;
	cursor:pointer;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .b-r-stat-w{
	position: relative;
    float: left;
    left: 9px;
    top: 0px;
    height: 211px;
    width: 146px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-1102px -158px;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .b-r-stat-w .stat-txt{
	position: relative;
    float: left;
    height: 30px;
    line-height: 30px;
    width: 120px;
    color: #ffffff;
    text-align: right;
    left: 9px;
	font-size:18px;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .b-r-stat-w .stat-txt.krzbj{
	top:34px;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .b-r-stat-w .stat-txt.krqk{
	top:75px;
}
.c-b-c-r-bottom .c-b-c-r-bottom-body .b-r-stat-w .stat-txt.krsy{
	top:120px;
}
.J-jsfs-select{
	position:absolute;
	width:84px;
}
.J-jsfs-select .J-jsfs-select-item{
	width:84px;
	height:33px;
	line-height:33px;
	background:#1a1224;
	text-align:center;
	color:#ffffff;
	cursor:pointer;
	font-size: 18px;
}

.c-body-wrap .ag-bg{
	width: 1274px;
    min-height: 675px;
	margin-top: 25px;
    margin-left: 28px;
	background:url('./../images/18.png') no-repeat;
}
.c-body-wrap .ag-bg .ag-left{
	float:left;
	width: 297px;
    height: 100%;
	margin-left:5px;
}
.c-body-wrap .ag-bg .ag-left .ag-l-r1{
	width: 100%;
    height: 125px;
}
.c-body-wrap .ag-bg .ag-left .ag-l-r1 .r1-select-all{
	position:relative;
	float:left;
	top: 74px;
    left: 27px;
	width: 38px;
    height: 38px;
	cursor:pointer;
}
.c-body-wrap .ag-bg .ag-left .ag-l-r1 .r1-select-all.active{
	background:url('./../images/sprite.png') no-repeat;
	background-position:-979px -217px;
}
.c-body-wrap .ag-bg .ag-left .ag-l-r1 .r1-delete{
	position:relative;
	float:left;
	top: 74px;
    left: 43px;
	width: 89px;
    height: 38px;
	cursor:pointer;
}
.c-body-wrap .ag-bg .ag-left .ag-l-r1 .r1-add{
	position:relative;
	float:left;
	top: 74px;
    left: 59px;
	width: 89px;
    height: 38px;
	cursor:pointer;
}
.c-body-wrap .ag-bg .ag-left .ag-l-list{
	width:100%;
	min-height: 600px;
    background: #231b2d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	margin-top: 18px;
}
.ag-l-list .ag-l-list-item{
	width:297px;
	height:42px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:19px -290px;
}
.ag-l-list .ag-l-list-item.active{
	background-position:-209px -491px;
}
.ag-l-list .ag-l-list-item .agi-chk{
	position:relative;
	float:left;
	top: 2px;
    left: 26px;
	width:38px;
	height:38px;
}
.ag-l-list .ag-l-list-item .agi-chk.active{
	background: url(./../images/sprite.png) no-repeat;
    background-position: -1034px -219px
}
.ag-l-list .ag-l-list-item .agi-txt{
	position: relative;
    float: left;
    top: 2px;
    left: 42px;
    width: 165px;
    height: 38px;
    line-height: 40px;
	color:#ffffff;
	font-size:16px;
	text-align:center;
}
.c-body-wrap .ag-bg .ag-center{
	float:left;
	width: 297px;
	height: 100%;
	margin-left:16px;
}
.c-body-wrap .ag-bg .ag-center .ag-c-list{
	width: 100%;
	margin-top: 122px;
	min-height: 620px;
    background: #231b2d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.c-body-wrap .ag-bg .ag-center .ag-c-list .ag-c-list-item{
	width: 297px;
	height: 42px;
	background:url('./../images/sprite.png') no-repeat;
	background-position:-275px -268px;
}
.c-body-wrap .ag-bg .ag-center .ag-c-list .ag-c-list-item .tx1{
	display:inline-block;
	float:left;
	position:relative;
	top:0px;
	left:20px;
	width:92px;
	height:42px;
	line-height:42px;
	color:#ffffff;
	font-weight:bold;
}
.c-body-wrap .ag-bg .ag-center .ag-c-list .ag-c-list-item .tx2{
	display:inline-block;
	float:left;
	position:relative;
	top:0px;
	left:20px;
	width:70px;
	height:42px;
	line-height:42px;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
}
.c-body-wrap .ag-bg .ag-center .ag-c-list .ag-c-list-item .tx2 input{
	display:inline-block;
	float:left;
	width:100%;
	height:100%;
	line-height:42px;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	outline:none;
	border:none;
	background:none;
}
.c-body-wrap .ag-bg .ag-center .ag-c-list .ag-c-list-item .ebt1{
	display: inline-block;
    float: left;
    position: relative;
    top: 6px;
    left: 20px;
    width: 12px;
    height: 30px;
    background: url(./../images/sprite.png) no-repeat;
    background-position: -1204px -100px;
	cursor:pointer;
}
.c-body-wrap .ag-bg .ag-center .ag-c-list .ag-c-list-item .tx3{
	display:inline-block;
	float:left;
	position:relative;
	top:0px;
	left:32px;
	width:62px;
	height:42px;
	line-height:42px;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
}
.c-body-wrap .ag-bg .ag-center .ag-c-list .ag-c-list-item .tx3 input{
	display:inline-block;
	float:left;
	width:100%;
	height:100%;
	line-height:42px;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	outline:none;
	border:none;
	background:none;
}
.c-body-wrap .ag-bg .ag-center .ag-c-list .ag-c-list-item .ebt2{
	display: inline-block;
    float: left;
    position: relative;
    top: 6px;
    left: 30px;
    width: 12px;
    height: 30px;
    background: url(./../images/sprite.png) no-repeat;
    background-position: -1204px -100px;
	cursor:pointer;
}
.c-body-wrap .ag-bg .ag-center .ag-c-bottom{
	width: 100%;
    height: 111px;
	background: url(./../images/18181.jpg) no-repeat;
	background-position: 8px 26px;
}
.c-body-wrap .ag-bg .ag-center .ag-c-bottom .ag-c-bottom-tx1{
	display: inline-block;
    float: left;
    position: relative;
    top: 32px;
    left: 103px;
    width: 93px;
    height: 30px;
}
.c-body-wrap .ag-bg .ag-center .ag-c-bottom .ag-c-bottom-tx1 input{
	display:inline-block;
	float:left;
	width:100%;
	height:100%;
	line-height:30px;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	outline:none;
	border:none;
	background:none;
	font-size:16px;
}
.c-body-wrap .ag-bg .ag-center .ag-c-bottom .ag-c-bottom-btn1{
	display: inline-block;
    float: left;
    position: relative;
    top: 32px;
    left: 103px;
    width: 93px;
    height: 30px;
	cursor:pointer;
}
.c-body-wrap .ag-bg .ag-center .ag-c-bottom .ag-c-bottom-tx2{
	display: inline-block;
    float: left;
    position: relative;
    top: 75px;
    left: -82px;
    width: 93px;
    height: 30px;
}
.c-body-wrap .ag-bg .ag-center .ag-c-bottom .ag-c-bottom-tx2 input{
	display:inline-block;
	float:left;
	width:100%;
	height:100%;
	line-height:30px;
	color:#ffffff;
	font-weight:bold;
	text-align:center;
	outline:none;
	border:none;
	background:none;
	font-size:16px;
}
.c-body-wrap .ag-bg .ag-center .ag-c-bottom .ag-c-bottom-btn2{
	display: inline-block;
    float: left;
    position: relative;
    top: 46px;
    left: 195px;
    width: 93px;
    height: 30px;
	cursor:pointer;
}
.c-body-wrap .ag-bg .ag-right{
	float:left;
	width: 631px;
    height: 100%;
	margin-left:21px;
}
.c-body-wrap .ag-bg .ag-right .ag-r-head{
	width: 100%;
    height: 100px;
}
.c-body-wrap .ag-bg .ag-right .ag-r-head .zfc-txt{
	position:relative;
	float:left;
	display:inline-block;
	width: 68px;
    height: 20px;
    line-height: 20px;
	top: 65px;
    left: 445px;
	color:#ffffff;
}
.c-body-wrap .ag-bg .ag-right .ag-r-head .qz-btn{
	position: relative;
    float: left;
    display: inline-block;
    width: 88px;
    height: 32px;
    top: 58px;
    left: 466px;
	cursor:pointer;
}
.c-body-wrap .ag-bg .ag-right .ag-r-title{
	width:100%;
	height:55px;
}
.c-body-wrap .ag-bg .ag-right .ag-r-select-all{
	position: relative;
    float: left;
    top: 9px;
    left: 12px;
    width: 38px;
    height: 38px;
    cursor: pointer;
}
.c-body-wrap .ag-bg .ag-right .ag-r-select-all.active{
	background:url('./../images/sprite.png') no-repeat;
	background-position:-979px -217px;
}
.c-body-wrap .ag-bg .ag-right .ag-r-list{
	width: 631px;
	min-height: 580px;
    background: #231b2d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	margin-top:10px;
}
.c-body-wrap .ag-bg .ag-right .ag-r-list .ag-r-list-item{
	width: 631px;
	height:45px;
    background: url(./../images/sprite.png) no-repeat;
    background-position: 4px -343px;
}
.c-body-wrap .ag-bg .ag-right .ag-r-list .ag-r-list-item a{
	position:relative;
	top:0px;
	float:left;
	display:inline-block;
	color:#ffffff;
	height:45px;
	line-height:45px;
	text-align:center;
}
.c-body-wrap .ag-bg .ag-right .ag-r-list .ag-r-list-item .agr-li-chk{
	left: 11px;
    width: 38px;
    height: 38px;
    top: 4px;
	cursor:pointer;
}
.c-body-wrap .ag-bg .ag-right .ag-r-list .ag-r-list-item .agr-li-chk.active{
	background: url(./../images/sprite.png) no-repeat;
    background-position: -1034px -219px
}
.c-body-wrap .ag-bg .ag-right .ag-r-list .ag-r-list-item .agr-li-name{
	left: 25px;
    width: 112px;
	text-align:left;
}
.c-body-wrap .ag-bg .ag-right .ag-r-list .ag-r-list-item .agr-li-level{
	left: 25px;
    width: 95px;
}
.c-body-wrap .ag-bg .ag-right .ag-r-list .ag-r-list-item .agr-li-uanme{
	left: 27px;
    width: 110px;
}
.c-body-wrap .ag-bg .ag-right .ag-r-list .ag-r-list-item .agr-li-score{
	left: 27px;
    width: 110px;
}
.c-body-wrap .ag-bg .ag-right .ag-r-list .ag-r-list-item .agr-li-fc{
	left: 27px;
    width: 110px;
}
.J-bill-list-win{
	width:1200px;
	height:849px;
	background: url(./../images/bill-list-bg1.png) no-repeat;
}
.J-bill-list-win .content-body{
	width:100%;
	height: 595px;
    margin-top: 153px;
    float: left;
}
.J-bill-list-win .content-body .item-wrap{
	width:1134px;
	height: 595px;
	margin-left: 30px;
}
.J-bill-list-win .content-body .item-wrap .c-b-list-item{
	margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 5px;
}
.J-bill-list-win .content-bottom{
	float: left;
    width: 100%;
    height: 92px;
    position: relative;
    bottom: -70px;
}
.J-bill-list-win .content-bottom div{
	float: left;
    position: relative;
	color:#ffffff;
	height:32px;
	line-height:32px;
	text-align:center;
	font-size: 22px;
}
.J-bill-list-win .content-bottom .l-btn{
	width: 32px;
    left: 474px;
    top: 25px;
	cursor:pointer;
}
.J-bill-list-win .content-bottom .c-txt{
	width: 139px;
    left: 496px;
    top: 25px;
}
.J-bill-list-win .content-bottom .r-btn{
	width: 32px;
    left: 523px;
    top: 25px;
	cursor:pointer;
}
.J-edit-user-info-win{
	width:650px;
	height:425px;
	background: url(./../images/103.png) no-repeat;
}
.J-edit-user-info-win .J-input{
	float:left;
	display:block;
	position:relative;
	left:200px;
	background:none;
	outline:none;
	border:none;
	color:#ffffff;
	text-align:center;
	width:123px;
	height:26px;
	line-height:26px;
}
.J-edit-user-info-win .J-input.J-login-name{
	top: 97px;
}
.J-edit-user-info-win .J-input.J-password{
	top: 162px;
    left: 77px;
}
.J-edit-user-info-win .J-input.J-qibu-choushui{
	top: 224px;
    left: -46px;
}
.J-edit-user-info-win .J-input.J-choushui-shuanfa{
	width: 211px;
    top: 281px;
    left: -211px;
    cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.J-edit-user-info-win .J-choushui-shuanfa-item-wrap{
	display:none;
	height: 60px;
    width: 144px;
    top: 274px;
    left: 190px;
    background: url(./../images/sprite.png) no-repeat;
    background-position: -672px -282px;
}
.J-choushui-shuanfa-item-wrap .J-choushui-shuanfa-item{
	float:left;
	position:relative;
	height: 26px;
    width:100%;
    top: 8px;
	cursor:pointer;
}
.J-edit-user-info-win .J-save-btn{
	top: 347px;
    left: 296px;
    width: 73px;
	cursor:pointer;
}
.J-edit-club-win{
	background: url(./../images/104.png) no-repeat;
    background-position: 0px -7px;
}
.J-edit-club-win .J-new-btn{
	position:relative;
	float:left;
	top: 364px;
    left: -209px;
	height:30px;
	width:100px;
	background: url(./../images/sprite.png) no-repeat;
    background-position: -915px -335px;
	cursor:pointer;
}
.J-edit-club-win .J-del-btn{
	position:relative;
	float:left;
	top: 364px;
    left: -278px;
	height:30px;
	width:100px;
	background: url(./../images/sprite.png) no-repeat;
    background-position: -850px -284px;
	cursor:pointer;
}
.J-edit-club-win .J-edit-btn{
	position: relative;
    float: left;
    top: 335px;
    left: 333px;
    height: 30px;
    width: 100px;
    background: url(./../images/sprite.png) no-repeat;
    background-position: -986px -287px;
    cursor: pointer;
}
.J-edit-club-win .J-input.J-club-name{
	top: 97px;
}
.J-edit-club-win .J-input.J-club-id{
	top: 162px;
    left: 77px;
}
.J-edit-club-win .J-input.J-club-login-name{
	top: 224px;
    left: -46px;
}
.J-edit-club-win .J-input.J-club-login-password{
	top: 280px;
    left: -167px;
}
.J-money-type-list-win{
	width:650px;
	height:469px;
	background: url(./../images/108.png) no-repeat;
}
.J-money-type-list-win .m-t-l-head{
	width:100%;
	height:62px;
}
.J-money-type-list-win .m-t-l-head .m-t-l-h-delete{
	position:relative;
	float:right;
	bottom: -21px;
    right: 45px;
	height:35px;
	width:95px;
	cursor:pointer;
}
.J-money-type-list-win .m-t-l-title{
	width:100%;
	height:85px;
}
.J-money-type-list-win .m-t-l-h-select{
	position:relative;
	float:right;
	bottom: -32px;
    right: 66px;
	height:45px;
	width:45px;
	cursor:pointer;
    background: url(./../images/sprite.png) no-repeat;
    background-position: -231px -422px;
}
.J-money-type-list-win .m-t-l-h-select.active{
    background-position: -679px -419px;
}
.J-money-type-list-win .m-t-l-list{
    width:100%;
	height:222px;
}
.J-money-type-list-win .m-t-l-list-item{
    width:650px;
	height:70px;
}
.J-money-type-list-win .m-t-l-list-item-txt{
	position:relative;
	float:left;
	top:0px;
	width:195px;
	height:70px;
	line-height:70px;
	color:#ffffff;
	text-align:center;
	font-size:28px;
    background: url(./../images/sprite.png) no-repeat;
    background-position: -2px -408px;
}
.J-money-type-list-win .m-t-l-list-item-txt.txt-pay-type{
	left:76px;
}
.J-money-type-list-win .m-t-l-list-item-txt.txt-money{
	left:106px;
}
.J-money-type-list-win .m-t-l-bottom{
	width:100%;
	height:48px;
}
.J-money-type-list-win .m-t-l-bottom input{
	display:inline-block;
	position:relative;
	float:left;
	top:0px;
	width:170px;
	height:48px;
	line-height:48px;
	text-align:center;
	color:#ffffff;
	font-size:20px;
}
.J-money-type-list-win .m-t-l-bottom .m-t-l-b-txt-pay-type{
	left: 88px;
}
.J-money-type-list-win .m-t-l-bottom .m-t-l-b-txt-money{
	left: 144px;
}
.J-money-type-list-win .m-t-l-bottom .m-t-l-b-add{
	display: inline-block;
    position: relative;
    float: left;
    top: 4px;
    width: 94px;
    height: 38px;
    left: 174px;
	cursor:pointer;
}
.J-add-agent-win{
	width:650px;
	height:182px;
    background: url(./../images/105.png) no-repeat;
}
.J-add-agent-win .agent-name{
	float: left;
    position: relative;
    top: 63px;
    left: 172px;
    width: 158px;
    height: 48px;
    line-height: 48px;
    color: #ffffff;
    font-size: 20px;
}
.J-add-agent-win .add-agent{
	float: left;
    position: relative;
    top: 74px;
    left: 238px;
    width: 93px;
    height: 34px;
	cursor:pointer;
}
.J-player-list-win{
	width:1320px;
	height:848px;
    background: url(./../images/110.png) no-repeat;
}
.J-player-list-win.add-player{
	width:1320px;
	height:848px;
    background: url(./../images/113.png) no-repeat;
}
.J-player-list-win .p-l-head{
	width:100%;
	height:156px;
}
.J-player-list-win .p-l-head .search-krbh{
	float: right;
    position: relative;
    right: 185px;
    bottom: -108px;
    width: 116px;
    height: 33px;
    line-height: 33px;
	text-align:center;
	color:#ffffff;
	font-size:18px;
}
.J-player-list-win .p-l-head .add-player{
	float: right;
    position: relative;
    right: -70px;
    bottom: -97px;
    width: 128px;
    height: 48px;
	cursor:pointer;
}
.J-player-list-win .p-l-title{
	width:100%;
	height:80px;
}
.J-player-list-win .p-l-body{
	width:100%;
	height:580px;
}
.J-player-list-win .p-l-body{
	width:1320px;
	height:580px;
}
.J-player-list-win .p-l-body .p-l-item{
	float: left;
    width: 1320px;
    height: 50px;
    background: url(./../images/sprite.png) no-repeat;
    background-position: -711px -488px;
}
.J-player-list-win .p-l-body .p-l-item .c-td{
    float: left;
    height: 50px;
    line-height: 50px;
	text-align:center;
	color:#ffffff;
}
.J-player-list-win .p-l-body .p-l-item .c-td input{
	width:100%;
	height:100%;
	text-align:center;
	color:#ffffff;
}
.play-select-list{
	display:none;
	float:left;
	position:relative;
	top:0px;
	left:0px;
	width:121px;
	height:184px;
	background: url(./../images/sprite.png) no-repeat;
    background-position: -6px -508px;
}
.play-select-list .p-s-wrap{
	width: 105px;
    margin-left: 8px;
    height: 173px;
	margin-top:5px;
}
.play-select-list .play-select-list-item{
	width:105px;
	height:34px;
	line-height:34px;
	background: url(./../images/sprite.png) no-repeat;
    background-position: -346px -424px;
	cursor:pointer;
}
.krbh-sort{
	float: left;
    position: relative;
    top: 11px;
    left: 36px;
    width: 156px;
    height: 60px;
	cursor:pointer;
}
.krbh-sort.active{
	background: url(./../images/sprite.png) no-repeat;
    background-position: -806px -392px;
}
.bj-sort{
    float: left;
    position: relative;
    top: 11px;
    left: 40px;
    width: 193px;
    height: 60px;
	cursor:pointer;
}
.bj-sort.active{
	background: url(./../images/sprite.png) no-repeat;
    background-position: -966px -392px;
}
.J-paiju-data-list-win{
	width:1200px;
	height:851px;
    background: url(./../images/300.png) no-repeat;
}
.J-paiju-data-list-win  .top-title{
	width:1200px;
	height:76px;
	line-height:76px;
	color:#ffffff;
	font-size:22px;
	font-weight:bold;
	text-align:center;
}
.J-paiju-data-list-win  .top-up{
	width:1200px;
	height:90px;
}
.J-paiju-data-list-win  .top-up .info-detail{
	position: relative;
    float: left;
    width: 934px;
    height: 33px;
    background: url(./../images/sprite.png) no-repeat;
    background-position: -1052px -565px;
    left: 132px;
    top: 29px;
	text-align:center;
}
.J-paiju-data-list-win  .top-up .info-detail a{
	display:inline-block;
    min-width:10px;
    height: 33px;
    line-height: 33px;
	color:#ffffff;
	margin:0 2px;
	text-decoration:none;
}
.J-paiju-data-list-win  .top-up .info-detail .val{
	color:#e49d76;
}
.J-paiju-data-list-win  .top-th{
	margin-top:16px;
	width:1200px;
	height:45px;
}
.J-paiju-data-list-win  .top-th table{
	margin-left:15px;
	width:1164px;
	height:45px;
}
.J-paiju-data-list-win  .top-th table td{
	min-width:85px;
	height:45px;
	background: url(./../images/301.png) no-repeat center;
	text-align:center;
	color:#ffffff;
	font-weight:bold;
}
.J-paiju-data-list-win  .body-list{
	margin-top:16px;
	width:1200px;
	height:563px;
}
.J-paiju-data-list-win  .body-list table{
	margin-left:15px;
	width:1164px;
	height:50px;
}
.J-paiju-data-list-win  .body-list table td{
	min-width:85px;
	height:50px;
	background: url(./../images/item-bg.png) repeat-x center;
	text-align:center;
	color:#f8f6c3;
}
.J-paiju-data-list-win  .edit-icn{
	float: left;
    display: block;
    width: 13px;
    height: 35px;
    cursor: pointer;
    margin-top: 10px;
	background: url(./../images/sprite.png) no-repeat;
    background-position: -1204px -100px;
}
.J-lianmeng-setting-win{
	width:650px;
	height:423px;
    background: url(./../images/401.png) no-repeat;
}
.J-lianmeng-setting-win .ls-th{
	margin-left: 15px;
	width:618px;
	height:30px;
}
.J-lianmeng-setting-win .ls-th td{
	min-width:81px;
	height:30px;
	line-height:30px;
	background: url(./../images/402.png) no-repeat center;
	text-align:center;
	color:#ffffff;
	font-weight:bold;
}
.J-lianmeng-setting-win .ls-list-wrap{
	width:650px;
	height:200px;
}
.J-lianmeng-setting-win .ls-add-wrap{
	width:618px;
	height:30px;
}
.J-lianmeng-setting-win .ls-add-wrap td, .J-lianmeng-setting-win .ls-list-wrap td{
	height:30px;
	line-height:30px;
	background: url(./../images/304.png) no-repeat center;
}
.J-lianmeng-setting-win  td input,.J-lianmeng-setting-win .la-add-btn,.J-lianmeng-setting-win .ls-t-select{
	display:block;
	width:100%;
	height:100%;
	width:84px;
	margin:0 auto;
	text-align:center;
	font-weight:normal;
}
.J-lianmeng-setting-win .la-add-btn, .J-lianmeng-setting-win .la-delete-btn{
	background: url(./../images/sprite.png) no-repeat;
    background-position: -490px -425px;
	cursor:pointer;
	height:30px;
}
.J-lianmeng-setting-win .la-delete-btn{
    background-position: -560px -422px;
}
.J-lianmeng-setting-win .ls-t-select{
	cursor:pointer;
	padding:0 2px;
}
.J-lianmeng-setting-win .ls-t-select option{
	background-color:#181326;
	border:none;
	height:30px;
	width:100%;
	padding:0px;
	margin:0px;
}
.J-lianmeng-setting-win .t-type{
	float:left;
	height:30px;
	line-height:30px;
	width:70px;
	cursor:pointer;
	text-align:right;
}
.J-lianmeng-setting-win .i-select{
	float:left;
	width:22px;
	height:30px;
	background: url(./../images/sprite.png) no-repeat;
    background-position: -1248px -101px;
	cursor:pointer;
}
.J-lianmeng-setting-win .i-edit{
	position:relative;
	float:left;
	width:30px;
	height:30px;
	background: url(./../images/sprite.png) no-repeat;
    background-position: -1047px -162px;
	text-align:left;
	cursor:pointer;
}
.J-data-list-win, .J-lianmeng-zhongzhang-win{
	background: url(./../images/501.png) no-repeat;
}
.J-lianmeng-zhongzhang-win .ls-th td{
	font-weight:normal;
}
.J-lianmeng-zhongzhang-win .ls-th .op-btn{
	background: url(./../images/sprite.png) no-repeat;
    background-position: -670px -367px;
	font-weight: bold;
	cursor:pointer;
}
.J-lianmeng-zhongzhang-win .s-lms-btn{
	position: relative;
    float: right;
    right: 10px;
    background: url(./../images/sprite.png) no-repeat;
    background-position: -673px -367px;
    top: -32px;
    width: 85px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
.J-data-list-win .s-lms-txt, .J-lianmeng-zhongzhang-win .s-lms-txt{
	position: relative;
    float: right;
    right: 10px;
    width: 163px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
}
.J-lianmeng-zhongzhang-win .lml-select-wrap{
	margin-left:15px;
	width:84px;
	height:30px;
	background: url(./../images/304.png) no-repeat center;
	color:#ffffff;
}
.J-data-list-win .jbzc-sure-btn{
	position: relative;
	float:left;
	top:-100px;
	left:290px;
	width:70px;
	height:35px;
	background: url(./../images/sprite.png) no-repeat;
    background-position: -1924px -380px;
	cursor:pointer;
}
.lmzj-content-wrap{
	float:left;
	margin-left:30px;
	width:1270px;
	min-height:660px;
	/*background: url(./../images/666.png) no-repeat;*/
}
.lmzj-wrap .h-left, .lmzj-wrap .h-right{
	display:inline-block;
	width:658px;
	height:100%;
}
.lmzj-wrap .h-left .h-l-div, .lmzj-wrap .h-right .h-l-div{
	float:left;
	height:35px;
	line-height:35px;
	min-width:100px;
	margin-top:10px;
	color:#ffffff;
}
.lmzj-wrap .h-l-div.h-select-list-bg{
	margin-left:50px;
	min-width:86px;
	width:86px;
	background: url(./../images/304.png) no-repeat center;
}
.lmzj-wrap .h-l-div.h-text-bg{
	margin-left:20px;
	width:150px;
	background: url(./../images/sprite.png) no-repeat;
    background-position: -1834px -433px;
}
.gy-btn-bg{
	background: url(./../images/sprite.png) no-repeat;
    background-position: -666px -364px;
    font-weight: bold;
    cursor: pointer;
	text-align:center;
}
.lmzj-wrap .lmzj-content-wrap .body-list-wrap{
	float:left;
	margin-left:20px;
	min-height:698px;
	max-width: 1230px;
	min-width: 1230px;
	background: #231b2d;
    border-radius: 20px;
	/*overflow-y:hidden;*/
	overflow-x:scroll;
}
.lmzj-wrap .body-list-wrap .row-item{
	height:40px;
	display:block;
	float:left;
	margin:2px 0px;
	min-width: 1230px;
}
.lmzj-wrap .body-list-wrap .col-item{
	float:left;
	display:block;
	height:40px;
	line-height:40px;
	width:128px;
	margin:0px 2px;
	background: url(./../images/912.png) no-repeat center;
	text-align:center;
	color:#f4e2a9;
}
.lmzj-wrap .body-list-wrap .col-item.thh{
	color:#ffffff;
	font-weight:bold;
	background: url(./../images/913.png) no-repeat center;
}
.lmzj-wrap .body-list-wrap .row-item.lbb{
	background: url(./../images/item-bg.png) repeat-x center;
}
.lmzj-wrap .body-list-wrap .col-item .ci-txt{
	float:left;
	width:100%;
	height:100%;
	text-align:center;
}
.lmzj-wrap .body-list-wrap .col-item .ci-edit{
	display:block;
	position:relative;
	float:right;
	height:40px;
	width:20px;
	right: 0px;
    top: -40px;
	background: url(./../images/sprite.png) no-repeat;
    background-position: -1058px -159px;
	cursor:pointer;
}
.bcell{
	background: url(./../images/bcell.png) repeat-y;
}
.J-save-code-win{
	width:650px;
	height:182px;
    background: url(./../images/1050.png) no-repeat;
}
.J-save-code-win .commit-save-code{
	float: left;
    position: relative;
    top: 62px;
    left: 181px;
    width: 93px;
    height: 48px;
    cursor: pointer;
	background: url(./../images/sprite.png) no-repeat;
    background-position: -1913px -372px;
}
.J-save-code-win .J-select-time{
	float: left;
    position: relative;
    top: 127px;
    left: -123px;
    width: 249px;
    height: 30px;
    line-height: 30px;
	color:#f4e2a9;
}
.J-save-code-win .J-select-time input{
	float: left;
    height:100%;
	width:110px;
	background:#181326;
	border-radius:5px;
	text-align:center;
	cursor:pointer;
}
.J-go-scroll-left, .J-go-scroll-right{
	position:fixed;
	bottom:0px;
	width:50px;
	height:100px;
	cursor:pointer;
	background: url(./../images/sprite.png) no-repeat;
    background-position: -1963px -40px;
}
.J-go-scroll-left{
	transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
/*background:rgba(0,0,0,0.2);*/